<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-searchbar animated placeholder="Buscar" (ionChange)="buscar($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<!--BEGIN: Ion LIST-->  
<ion-list>
  <!--BEGIN: Ion CARD-->
  <ion-card  *ngFor="let data of noticias">
    <div class="bloques">
      <img src="{{data.imagen}}" alt="Imagen" class="imagen">
      <div class="cuerpo">
        <a href="#">{{data.titulo}}</a>
        <p>{{data.empresa}}</p>
        <i>{{data.hora}}</i>
      </div>
    </div>
  </ion-card>
  <!--END: Ion CARD-->
</ion-list>
<!--END: Ion LIST -->
</ion-content>
