<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>CASOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <img src="assets/img/mapa.PNG" alt="Mapa de Guatemala" id="imagen">
  </ion-card>

  <ion-card *ngFor="let data of infectados">
    <ion-card-header>
      <!-- Título de Guatemala -->
      <ion-card-title>
        <img src="{{data.imagen}}" alt="Icono de Bandera" id="icono">
        {{data.pais}}
      </ion-card-title>
      <!-- Estado Actual -->
      <ion-card-subtitle>
        <strong>Confirmados:</strong>{{data.confirmados}}<br>
        <strong>Personas Recuperadas:</strong>{{data.recuperados}}<br>
        <strong>Muertes:</strong>{{data.muertes}}<br>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
