<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>INFORMACIÓN SANITARIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--Síntomas-->
  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Los síntomas más habituales:</ion-label>
    </ion-item-divider>
  
    <ion-item *ngFor="let data of sintomas_comunes">
      <ul>
        <li>{{data.name}}</li>
      </ul>
    </ion-item>
  </ion-item-group>
  
  <!--Otros síntomas-->
  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Otros Síntomas menos comunes:</ion-label>
    </ion-item-divider>
  
    <ion-item *ngFor="let data of sintomas_otro">
      <ul>
        <li>{{data.name}}</li>
      </ul>
    </ion-item>
  </ion-item-group>

  <!--Prevención-->
  <ion-item-group>
    <ion-item-divider color="secondary">
      <ion-label>Prevenciones:</ion-label>
    </ion-item-divider>
  
    <ion-item *ngFor="let data of prevencion">
      <ul>
        <li>{{data.name}}</li>
      </ul>
    </ion-item>
  </ion-item-group>

</ion-content>
